body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f2f7ce;
    margin: 0;
    padding: 0;
}

.calculator {
    width: 400px;
    margin: 50px auto;
    background-color: #e0df9a;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s, transform 0.3s;
}

.calculator:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
}

.calculator h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.input-container {
    margin-bottom: 20px;
}

.input-container label {
    display: block;
    margin-bottom: 5px;
    color: #555;
    font-size: 16px;
}

.input-container select,
.input-container input[type="number"] {
    width: calc(100% - 10px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    transition: border-color 0.3s;
}

.input-container select:focus,
.input-container input[type="number"]:focus {
    border-color: #1ed8cf;
}

button {
    width: 100%;
    padding: 12px;
    background-color: #2e52f3;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #25f0e6;
}

.resultado {
    margin-top: 20px;
    padding: 15px;
    background-color: #dff0d8;
    border: 1px solid #d6e9c6;
    border-radius: 5px;
    color: #3c763d;
    text-align: center;
    font-size: 16px;
}
@media screen and (max-width: 768px) {
    /* Estilos específicos para pantallas más pequeñas */
    .calculator {
      width: 90%;
      margin: 20px auto;
      padding: 20px;
    }
  
    .input-container {
      margin-bottom: 10px;
    }
  
    .input-container label {
      font-size: 14px;
    }
  
    input[type="number"] {
      font-size: 14px;
    }
  
    button {
      padding: 10px;
    }
  }
  
